.env
*.env
servers.json
*.db
*.sqlite3
*.exe
*.dll
*.zip
*.mp4
*.jar
*.dat
*.log
*.pid
*.key
*.pyd
*.TAG
*.apk
*.apkm
node_modules/
__pycache__/
.next/
dist/
.venv/
venv/
env/
*.pyc
.DS_Store
Thumbs.db
